/* CSS */
.runButton {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 8vw;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin-right: 1vw;
  margin-bottom: 2vh;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.runButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3p 0 inset;
}

.runButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.runButton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.submitButton {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  width: 8vw;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.submitButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3p 0 inset;
}

.submitButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submitButton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 80%;
}

.problemStatementContainer {
  width: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-left: 5%;
  margin-right: 5%;
}

.problemParagraph {
  margin-right: 4%;
}

.editorContainer {
  display: flex;
  flex-direction: row;
}

.hintContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

.hintBtn {
  margin-top: 1%;
  height: 4vh;
  width: 10vw;
}
.solutionBtn {
  margin-top: 1%;
  height: 4vh;
  width: 10vw;
}

.nextButtonContainer {
  display: none;
  flex-direction: column;
}

/* CSS */
.nextButton {
  width: 8vw;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nextButton:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.solutionParagraph {
  margin-left: 2%;
  margin-right: 2%;
}

.tabContent {
  display: flex;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab {
  background-color: #f1f1f1;
  display: flex;
}

.tabOption {
  background-color: #f1f1f1;
  border: None;
  height: 4vh;
}

.tabOption:hover {
  background-color: #ddd;
}

.tabOption.active {
  height: 4vh;
  background-color: #ccc;
  border: None;
}

.outputContainer {
  width: 50vw;
  height: 30vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  display: flex;
}
.codeOutput {
  font-size: 0.8rem;
  margin-top: 3%;
  margin-left: 3%;
}

/* Loader circles 
 * animation taken from https://codepen.io/MaedahBatool/pen/wZxMjZ?editors=1100
 * */

.loader {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}

.loader > span {
  background: #000;
  border-radius: 50%;
  margin: 7rem 0.5rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  margin: 7rem 0.5rem;
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  margin: 7rem 0.5rem;
  animation-delay: 0.4s;
}

/* Define the animation called bouncingLoader. */
@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}
